<%= content_for :operation_bar do %>
  <div class="container">
    <ul class="bs-docs-social-buttons">
      <li>
        <%= link_to '创建我的圈子', new_circle_group_path %>
      </li>
      <% if @current_user.is_create_group?(@group) %>
        <li>
          <%= link_to '编辑这个圈子', edit_circle_group_path(@group) %> 
        </li>
        <li>
          <%= link_to "删除这个圈子？", [:circle,@group], :method => :delete, data: { confirm: '你确定删除这个圈子么？' } %>
        </li>
      <% elsif @group %>
            <% if @current_user.joined_group?(@group) %>
              <%= link_to '退出这个圈子!', "/groups/#{@group.id}/group_users/#{@current_user.joined_group(@group).id}", :method => :delete, data: { confirm: '你确定退出这个圈子么？' } %>
            <% else %>
              <%= link_to '喜欢？加入这个圈子!', circle_group_group_users_path(@group), :method => :post %>
            <% end %>
      <% end %>
    </ul>
  </div>
<% end %>

<% unless @group %>
  您还没有创建活动的 <%= link_to '创建一个吧！', new_circle_group_path %>
<% else %>
<div class="container">
  <div class="row">
        <div class="pagination pagination-small">
          <ul>
            <li>
              <%= link_to('上一个圈子', circle_groups_path(:index => 'prev',:current_group_id => @group.id )) unless @group.first? %>
            </li>
            <li>
              <%= link_to('下一个圈子',circle_groups_path(:index => 'next',:current_group_id => @group.id)) unless @group.last? %>
            </li>
          </ul>
        </div>
  </div>
  <div class="row">
    <p>
    <%= @group.name %> / <%= link_to @group.user.nick_name, user_path(@group.user) %> <br/>
    圈子等级:<%= @group.level %>  成员数:<%= @group.member_count %>   粉丝数:<%= @group.following_count %>
    </p>

    <div class="span8">
      <div class="row">
        <div class="span4">
          <p>
            <%= @group.description %>
          </p>
                  <% if @group.activities.empty? %>
                    <%= link_to "没有活动，发起一个让大家来参与吧！", new_circle_group_activity_path(@group) %>
                  <% else %>
                    <% @group.activities.each do |active| %>
                      <div>
                        <%= active.subject %> / <%= link_to active.user.nick_name, user_path(active.user) %> / <%= active.start_date.strftime("%Y-%m-%d") %> -- <%= active.end_date.strftime("%Y-%m-%d") %>
                        <br />
                        活动状态:<%= active.running_state_name %>  <br/>
                        总预算：<%= active.total_budgets_sum %> / 目前支出：<%= active.total_accounts_sum %> / 当前余额：<%= active.balance_sum %> 
                        <br />
                        我应该支出：<%= active.personal_outcome_account(@current_user) %>
                        <br />
                        我已经支出：<%= active.personal_outcome_total_account(@current_user) %> 
                        <br />
                        我还应该支付：<%= active.personal_outcome_should_account(@current_user)%>

                        <br />

                        <%= link_to( "创建预算", new_circle_group_activity_budget_path(@group, active)) if @current_user.is_admin_group?(@group) %>
                        <%= link_to(" / 添加帐务",new_circle_group_activity_account_path(@group, active)) if @current_user.is_admin_group?(@group) %>
                        <%= link_to("查看帐务", circle_group_activity_accounts_path(@group, active), :remote => true) if false %>
                        <%= link_to(" / 参见活动",circle_group_activity_activity_users_path(@group,active), :method => :post) if @current_user.joind_activity?(active) %>
                        <%= link_to(" / 退出活动",circle_group_activity_activity_users_path(@group,active), :method => :delete, data: { confirm: '你确定退出该活动么？' }) if (@current_user.joind_activity?(active) && !@current_user.is_create_group?(@group)) %>
                      </div>
                    <% end %>
                    <% if @current_user.is_admin_group?(@group) %>
                      <%= link_to "发起活动", new_circle_group_activity_path(@group) %>
                    <% end %>
                  <% end %>

        </div>
        <div class="span3">
          <% unless @current_user.is_create_group?(@group) %> 
            <% if @current_user.joined_group?(@group) %>
              <%= link_to '退出这个圈子!', "/groups/#{@group.id}/group_users/#{@current_user.joined_group(@group).id}", :method => :delete, data: { confirm: '你确定退出这个圈子么？' } %>
            <% else %>
              <%= link_to '喜欢？加入这个圈子!', circle_group_group_users_path(@group), :method => :post %>
            <% end %>
          <% else %>
              <%= link_to '编辑我的圈子', edit_circle_group_path(@group) %> / <%= link_to "删除这个圈子？", [:circle,@group], :method => :delete, data: { confirm: '你确定删除这个圈子么？' } %>
          <% end %>
          <br/>
          该小组的成员
          <ul class="unstyled">
            <% @group.users.each do |member| %>
              <li>
                <%= link_to member.nick_name, user_path(member) %>
                <% if member.is_create_group?(@group) %>
                  / 创建者
                <% elsif member.is_admin_group?(@group) %>
                  / 管理员
                  <% if @current_user.is_create_group?(@group) %>
                  <%= link_to(" / 取消管理员", "/groups/#{@group.id}/canel_admin/#{member.id}", :method => :put) unless @current_user.is_create_group?(@group)%>
                  <% end %>
                <% elsif @current_user.is_create_group?(@group) %>
                  / <%= link_to "设为管理员", "/groups/#{@group.id}/set_admin/#{member.id}", :method => :put %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="span4">

<!-- modal test start!

<a href="#myModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a> 
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>

modal test end! -->

      <ul id="group_tab" class="nav nav-tabs">
        <li><a href="#budgets_tab" data-toggle="tab">预算</a></li>
        <li><a href="#accounts_tab" data-toggle="tab">帐务</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane" id="budgets_tab">
          <% if @group.budgets.empty? %>
            <%= link_to "还没有预算的，策划一个新预算！", new_circle_group_budget_path(@group) %>
          <% else %>
            <% @group.budgets.each do |budget| %>
                <%= "#{budget.total_sum}  #{budget.created_at.strftime('%Y-%m-%d %H:%M:%S')}  #{budget.description}" %>  <br/>
            <% end %>
            <% if @current_user.is_admin_group?(@group) %>
              <%= link_to "策划一个新预算！", new_circle_group_budget_path(@group) %>
            <% end %>
          <% end %>
        </div>
        <div class="tab-pane" id="accounts_tab">
          <% if @group.accounts.un_activity.empty? %>
          <%= link_to "做好帐哦，来记一个吧！", new_circle_group_account_path(@group) %>
          <% else %>
            <% @group.accounts.un_activity.each do |account| %>
                <%= "#{account.sum}  #{account.created_at.strftime('%Y-%m-%d %H:%M:%S')}  #{account.remark}   #{account.paid_user.nick_name}" %>  <br/>
            <% end %>
            <% if @current_user.is_admin_group?(@group) %>
              <%= link_to "记个账先！", new_circle_group_account_path(@group) %>
            <% end %>
          <% end %>
        </div>
      </div>      
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('#group_tab').tab('show');
  })
</script>
<% end %>