<h1>用户列表</h1>

<table>
  <tr>
    <th>邮箱</th>
    <th>昵称</th>
    <th>状态</th>
    <th>Current sign in at</th>
    <th>Current sign in ip</th>
    <th>Last sign in at</th>
    <th>Last sign in ip</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><%= user.nick_name %></td>
    <td><%= user.status %></td>
    <td><%= user.current_sign_in_at %></td>
    <td><%= user.current_sign_in_ip %></td>
    <td><%= user.last_sign_in_at %></td>
    <td><%= user.last_sign_in_ip %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

